<div class="card card-farmer">
    <img src="images/{{ farmer.photo }}" class="card-img-top img-fluid" alt="{{ farmer.firstName }} {{ farmer.lastName }}">
    <div class="card-body">
        <p class="card-job">{{ farmer.job }}</p>
        <h3 class="card-title">
            {{ farmer.firstName }} {{ farmer.lastName }}
        </h3>
    </div>
</div>
